
	$ctr: center;

	* {
		box-sizing: border-box;
  	}

	html, body {
		font-family: 'Crimson Text', serif;
		overflow-x: hidden;
	  }
	
	body {
		position: relative;
	}

	nav {
		.fixed-top {
			position: fixed;
		}
		.logo {
	  		height: 35px;
	  		width: 35px;
		}
  	}

  	.nav-link {
		font-size: 22px;
	}

	header {
		padding: 80px 10px 0 10px;
		h1 {
			font-weight: bold;
			text-align: $ctr;
	  	}
	  	h2 {
			text-align: $ctr;
			font-size: 25px;
			font-style: italic;
	  	}
	}
	
	#mainNav {
		#navbarNav {
			.ml-auto {
				right: 0px;
			}
		}
	}

  	main {
		position: relative;
  	}

	#about-main {
		display: flex;	
		margin-top: 80px;
		flex-wrap: wrap;
		justify-content: $ctr;
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		.profile-pic {
			width: auto;
			max-width: 100%;
			max-height: auto;
		}
		.about-me {
			flex: 1;
			font-size: 20px;
			line-height: 40px;
			.contact-gmail {
				font-style: italic;
			}
		}
  	}

  	#skills {
		padding: 80px 400px;
		margin-left: auto;
		margin-right: auto;
		background-color: #F8F9FA;
	  	h3 {
			font-size: 35px;
			text-align: $ctr;
			font-weight: bold;
			margin-bottom: 60px;
		}
		
		.my-skills {
			display: flex;
			flex-wrap: wrap;
				.skills-list-1 {
					flex: 1;
					list-style-position: inside;
						h4, h5, h6 {
							text-align: $ctr;
							font-size: 25px;
							font-weight: bold;
						}
						.skill-list-1 {
							text-align: $ctr;
							list-style-type: none;
							padding: 0;
							li {
								font-size: 18px;
							}
						}
				}
		}
		.tech-skills {
			font-size: 35px;
			text-align: $ctr;
			font-weight: bold;
			margin-top: 60px;
		}
		.coding-skills {
			display: flex;
			flex-wrap: wrap;
				.all-skills {
					flex: 1;
					list-style-position: inside;
						.skill-img {
							width: 90px;
							height: 90px;
							display: block;
							margin-right: auto;
							margin-left: auto;
						}
						h4, h5, h6 {
							text-align: $ctr;
							font-size: 25px;
							font-weight: bold;
						}
						.skill-list {
							text-align: $ctr;
							list-style-type: none;
							padding: 0;
							li {
								font-size: 18px;
							}
						}
				}
		}
	}

	#portfolio-projects {
		background-color: #FFFFFF;
		margin-left: auto;
		margin-right: auto;
		padding-top: 80px;
		padding-bottom: 80px;
		.capstone-projects-main-title {
			font-size: 35px;
		  	padding-top: 40px;
			text-align: $ctr;
			font-weight: bold;
			margin-bottom: 60px;
		}
		.capstone-projects {
			display: flex;
			flex-wrap: wrap;
			justify-content: $ctr; 
			.projects {
				padding: 10px;
				margin: 10px;
				background-color: #FFFFFF;
				box-shadow: 1px 2px 2px 1px #E8E8E8;	
				.capstone-title {
					text-align: $ctr;
					font-size: 25px;
					font-weight: bold;
				}
				.capstone-languages {
					text-align: $ctr;
				}
				.project-img {
					padding: 15px;
					height: 200px;
					width: 400px;
					display: block;
					margin: 0 auto 10px auto;
				}
				.project-description {
					display: block;
					font-size: 17px;
					padding-left: 15px;
					padding-right: 15px;
					width: 400px;
					margin-left: auto;
					margin-right: auto;
				}
				.view-project-buttons {
					text-align: $ctr;
					.button-links, .button-links-git {
						display: inline-block;
						width: 70px;
						padding: 5px;
						background-color: #1976D2;
						color: #F8F8FF;
						border: 0.5px;
						border-radius: 3px;
						text-align: $ctr;
						margin: 5px 5px 2px 5px;
						text-decoration: none;
						cursor: pointer;
					}
					.button-links:hover,
					.button-links:focus {
						background-color: #2196F3;
						-webkit-transition: background 0.1s;
						-moz-transition: background 0.1s;
						-o-transition: background 0.1s;
						transition: background 0.1s;
						outline: none;
					}
					.button-links-git {
						background-color: #FFFFFF;
						color:	#606060;
						box-shadow: 1px 1px 1px 1px #E8E8E8;
					}
					.button-links-git:hover,
					.button-links-git:focus {
						box-shadow: 1px 1px 1px 1px #A8A8A8;
						color:	#080808;
						-webkit-transition: background 0.1s;
						-moz-transition: background 0.1s;
						-o-transition: background 0.1s;
						transition: background 0.1s;
						outline: none;
					}
				}
			}
		}
	}

	#foxconn-projects {
		background-color: #F8F9FA;
		margin-left: auto;
		margin-right: auto;
		padding-top: 80px;
		padding-bottom: 80px;
		.foxconn-projects-title {
			font-size: 35px;
		  	padding-top: 40px;
			text-align: $ctr;
			font-weight: bold;
			margin-bottom: 60px;
		}
		.hardware-projects {
			display: flex;
			flex-wrap: wrap;
			justify-content: $ctr; 
			.dell-projects {
				padding: 10px;
				margin: 10px;
				background-color: #FFFFFF;
				box-shadow: 1px 2px 2px 1px #E8E8E8;	
				.optiplex-title {
					text-align: $ctr;
					font-size: 25px;
					font-weight: bold;
				}
				.form-factor {
					text-align: $ctr;
				}
				.hardware-project-img {
					padding: 15px;
					height: 200px;
					width: 400px;
					display: block;
					margin: 0 auto 0 auto;
				}
				.hardware-project-description {
					display: block;
					font-size: 17px;
					padding-left: 15px;
					padding-right: 15px;
					width: 400px;
					margin-left: auto;
					margin-right: auto;
				}
				.hardware-button-link {
					display: block;
					padding: 5px;
					background-color: #1976D2;
					color: #F8F8FF;
					border: 0.5px;
					border-radius: 3px;
					text-align: $ctr;
					margin: 5px 15px 2px 15px;
					text-decoration: none;
					cursor: pointer;
				}
				.hardware-button-link:hover,
				.hardware-button-link:focus {
					background-color: #2196F3;
					-webkit-transition: background 0.1s;
					-moz-transition: background 0.1s;
					-o-transition: background 0.1s;
					transition: background 0.1s;
					outline: none;
				}
			}
		}
	}

	#contact {
		margin-left: auto;
		margin-right: auto;
		padding: 80px 20px 80px 20px;
		background-color: #FFFFFF;
		.contact-me-title {
			font-size: 35px;
			padding-top: 40px;
			text-align: $ctr;
			font-weight: bold;
			margin-bottom: 60px;
		}
		.contact-me-info {
			text-align: $ctr;
			font-size: 20px;
			margin-bottom: 50px;
		}
		.contact-info-center {
			display: block;
			text-align: $ctr;
			.contact-info-center > a {
				text-decoration: none;
				color: #ffffff;
			}
			a:hover {
				text-decoration: none;
			}
			.contact-connect-me-email {
				display: inline-block;
				height: 32px;
				width: 37px;
			}
			.contact-connect-me, .contact-connect-me {
				height: 32px;
			}
		}
	}

	@media only screen and (max-width: 10000px)  {
		#about-main {
			.profile-pic {
				height: 500px;
			}
		}
		#portfolio-projects {
			.capstone-projects {
				margin-left: 0;
				margin-right: 0;
				.projects {
					.project-description {
						padding-left: 5px;
						padding-right: 5px;
						width: 400px;
					}
					.project-img {
						padding: 10px;
						height: 200px;
						width: 400px;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 1900px)  {
		#about-main {
			.profile-pic {
				height: 400px;
			}
		}
		#skills {
			padding-left: 300px;
			padding-right: 300px;
		}
		#portfolio-projects {
			.capstone-projects {
				margin-left: 0;
				margin-right: 0;
				.projects {
					.project-description {
					padding-left: 5px;
					padding-right: 5px;
					width: 280px;
					}
					.project-img {
						padding: 5px;
						height: 140px;
						width: 280px;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 1300px)  {
		#skills {
			padding-left: 100px;
			padding-right: 100px;
		}
		#portfolio-projects {
			.capstone-projects {
				margin-left: 100px;
				margin-right: 100px;
				.projects {
					width: 350px;
					.project-description, .project-img {
						width: 250px;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 1050px)  {
		#about-main {
			width: 800px;
			margin-bottom: 0;
			.about-me {
				line-height: 37px;
			}
		}
	}

	@media only screen and (max-width: 976px)  {
		#portfolio-projects {
			.capstone-projects {
				margin-left: 60px;
				margin-right: 60px;
				.projects {
					width: 270px;
					.project-img {
						padding: 5px;
						height: 125px;
						width: 225px;
					}
					.project-description {
						width: 225px;
					}
				}
			}
		}
	}
	
	@media only screen and (max-width: 900px)  {
		#about-main, #skills {
			flex-direction: column;
			width: auto;
			padding-left: 20px;
			padding-right: 20px;
			.profile-pic {
				height: 500px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	@media only screen and (max-width: 823px)  {
		#skills {
			.all-skills {
				padding-left: 10px;
				padding-right: 10px;
			}
			.skills-list-1 {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
	
	@media only screen and (max-width: 720px)  {
		#portfolio-projects {
			.capstone-projects {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	@media only screen and (max-width: 596px)  {
		#foxconn-projects {
			padding-bottom: 0;
			.hardware-projects {
				margin-left: 60px;
				margin-right: 60px;
				.dell-projects {
					width: 270px;
					.hardware-project-img {
						padding: 5px;
						height: 125px;
						width: 225px;
					}
					.hardware-project-description {
						width: 225px;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 500px)  {
		header {
			h1 {
				font-size: 38px;
			}
		}
		#about-main {
			.profile-pic {
				height: 300px;
			}
			.about-me {
				font-size: 18px;
			}
		}
		#skills {
			padding-bottom: 0;
			h3 {
				margin-bottom: 30px;
			}
		}
		#portfolio-projects {
			padding-bottom: 0;
			.capstone-projects-main-title {
				margin-bottom: 30px;
			}
		}
		#contact {
			padding-bottom: 25px;
			.contact-me-title {
				margin-bottom: 30px;
			}
			.contact-me-info {
				text-align: $ctr;
				font-size: 18px;
				margin-bottom: 50px;
			}
		}
	}	